body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: linear-gradient(to right, #179849, #bfd243);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.input {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #fffb00;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #ffa600;
}

.feedback {
    margin-top: 20px;
}

.feedback p {
    margin: 10px 0;
}

.feedback span {
    font-weight: bold;
}

.last-guess {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
